<br>
<br>
<br>


<div class="container-xl px-4 mt-4">
  <nav class="nav nav-borders">
    <a class="nav-link active ms-0" href="https://www.bootdey.com/snippets/view/bs5-edit-profile-account-details" target="__blank">Profile</a>
    <a class="nav-link"  target="__blank"  (click)="eve()">Mes Evenement</a>
  
  </nav>
  <!-- Account page navigation-->

  <hr class="mt-0 mb-4">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <img class="img-account-profile rounded-circle mb-2" src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="">
      
        </div>
      </div>
    </div>
    <div  class="col-xl-8">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">Compte</div>
        <div class="card-body">
          <form>
            <!-- Form Group (username)-->
         
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputFirstName">Nom</label>
                <input  class="form-control" id="inputFirstName" [(ngModel)]="user.firstName" name="firstName" type="text" placeholder="Enter your first name">
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputLastName">Prénom</label>
                <input  class="form-control" id="inputLastName"  [(ngModel)]="user.lastName"  name="lastName" type="text" placeholder="Enter your last name" >
              </div>
            </div>
            
            <!-- Form Group (email address)-->
            <div class="mb-3">
              <label class="small mb-1" for="inputEmailAddress">adresse email</label>
              <input  class="form-control" [(ngModel)]="user.email" name="email" id="inputEmailAddress" type="email" placeholder="Enter your email address" >
            </div>
            <!-- Form Row-->
            <div class="row gx-3 mb-3">
              <!-- Form Group (phone number)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputPhone">mot de passe</label>
                <input  class="form-control" [(ngModel)]="user.password" name="password" id="inputPhone" type="text" placeholder="Enter your  Password" >
              </div>
              <!-- Form Group (birthday)-->
              <div class="col-md-6">
                <label class="small mb-1" for="inputBirthday">Confirmer mot de passe</label>
                <input type="text"  name="ConfirmedPassword"id="inputBirthday" placeholder="Svp confirmer ici" class="form-control form-control-lg col" />
              </div>
            </div>
            <!-- Save changes button-->
            <button class="btn btn-primary" type="button" (click)="update()" >Sauvegarder</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


