body{
    background:#f3f3f3;
    margin-top:20px;
    color: #616f80;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}

.avatar-xs {
    height: 2.3rem;
    width: 2.3rem;
}
.wrapper-dropdown {
    position: relative;
    margin: 8% 0 10% 0;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    cursor: pointer;
    outline: none;
    color: #5b5b5d;
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;
}

.wrapper-dropdown .dropdown {
    position: absolute;
    left: 0;
    right: 0;
    max-height: 380px;
    overflow: auto;
    padding: 0;
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    list-style: none;
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    padding: 10px;
    color: #576987;
}

.wrapper-dropdown .dropdown li:hover a {
    background: #f3f8f8;
}
#col {
  column-count: 3;
}

.wrapper-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}